body{
    width: 100vw;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.welcome{
    text-align: center;
    font-size: medium;
    text-transform: capitalize;
}
.basic-info{
    font-size: medium;
    padding: 20px;
}
.profile-container {
    display: flex;
    width: 100%;
    height: auto;
}
.left-list, .right-list{
    list-style-type: none;
    color: rgb(19, 2, 63);
    background-color: rgb(240, 240, 255);
    text-align:center;
    font-size: large;
    width: 50%;
    margin: 0;
    padding: 20px;
    flex: 1;
    border: solid 5px seashell  ;
    box-sizing: border-box;
}
.profile {
    justify-content: center;
    align-self: center;
    margin: 0 20px;
    width: 250px;
    height: auto;
    border-radius: 10%;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-button {
    padding: 10px;
    color: rgb(24, 89, 228);
    background-color: snow;
    border: solid 2px rgb(203, 224, 255);
    border-radius: 5px;
    cursor: pointer;
    text-decoration: underline;
    font-size: large;
    font-weight: bold;
    margin: 10px 0;
}
.section{
    text-decoration: underline;
    background-color: beige;
    text-transform: capitalize;
    font-weight: bold;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 30px;
}
.preview {
    border: 1px solid skyblue;
    border-radius: 5px;
    overflow: hidden;
    height: 300px;
}
.und-Links{
    color: blue;
    display: block;
    text-align: center;
}
.und-Links:hover{
    color:aquamarine;
}
iframe, .app-preview{
    width:100%;
    height:100%;
    border:none;
}
.finalMessage {
    text-align: center; 
    text-decoration: underline; 
    font-weight: bolder;
    padding: 20px;
}