.top-pic{
    text-align: center;
    font-size: medium;
    font-family:monospace;
    text-transform: capitalize;
    padding-block: 20px;
}
.name{
    text-align: center;
    font-size: medium;
    font-family:monospace;
    text-transform: capitalize;
    padding-block: 20px;
}
.pic{
    display:flex;
    justify-content: center;
}
.title{
    text-decoration: underline;
    background-color: beige;
    text-transform: capitalize;
    font-weight: bold;
}
.basic-info{
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    text-align:justify;
    font-size: medium;
    font-family:monospace;
    padding-block: 20px;
}
.und-Links{
    color: blue;
}
.und-Links:hover{
    color:aquamarine;
}
