body{
    width: 100vw;
    height: 100vh;
    font-family:monospace;
}
.welcome{
    text-align: center;
    font-size: medium;
    text-transform: capitalize;
}
.basic-info{
    font-size: medium;
    padding: 20px;
}
.content {
    justify-content: center;
    align-self: center;
}
.profile{
    justify-content: center;
    display: flex;
}
.profile img{
    width: 160px;
    height: auto;
}
.section{
    text-decoration: underline;
    background-color: beige;
    text-transform: capitalize;
    font-weight: bold;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 30px;
}
.preview {
    border: 1px solid skyblue;
    border-radius: 5px;
    overflow: hidden;
    height: 300px;
}
.und-Links{
    color: blue;
    display: block;
    text-align: center;
}
.und-Links:hover{
    color:aquamarine;
}
iframe, .app-preview{
    width:100%;
    height:100%;
    border:none;
}
.finalMessage {
    text-align: center; 
    text-decoration: underline; 
    font-weight: bolder;
    padding: 20px;
}